.primary-background{background: #6b0000 !important;}
.primary-color{color: #d4cccc;}
.fixed-top {
    background: black;
    
}
a{text-decoration: none !important;}
a:hover{text-decoration: none !important;}
header {
    background: black;
    z-index: 999;
}
header .menu-area {
    padding: 10px;
}
#busqueda{
    width: 85%;
    float: left;
}
#busqueda input{
	background: #282828;
    border: 0;
    border-radius: 0;
    height: 45px;
    margin-left: 15px;
}
#busqueda button{
    background: #282828;
    border: 0;
    border-radius: 0;
}

#busqueda i{
    color: #dca351;
}


.social-top i.fa.fa-facebook {
    background: #dca351;
    padding: 15px;
    color: black;
}
.social-top .fa.fa-instagram {
    background: #dca351;
    padding: 15px;
    color: black;
    font-weight: 900;
    margin-left: 10px;
}
.social-top .fa.fa-instagram:hover {
    background: #dca351;
}
.header-right .card-bag span {
    background-color: #dca351;
}

.carrito{
    padding: 0 15px;
    float: right;
}
.main-menu {
    float: left;
    z-index: 2000;
    background-color: black;
}

.main-menu .m-activ{
    color: #dca351;
}
.main-menu li a {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 8px 5px 0;
    margin: 0 30px 0 0;
    text-decoration: none;
}
.main-menu li a:hover {
    text-decoration: none;
}

.product-item {
    border: 1px solid #d4cccc;
}

.section-dark{
    background-color: #f3f3f3;
    padding-top: 30px;
}


.site-logo {
    padding-top: 12px;
    float: left;
}
.user-menu {
    color: #fff;
    padding: 0;
    margin-right: 30px;
    font-size: 14px;
}
.user-menu i{
    color: #fff;
    padding: 0 5px;
}

.user-menu:hover{
    color: #f1f1f1;

}
section{
    padding: 30px !important;
}
section.section-info {
    color: white;
    text-align: center;
    padding: 50px;
    background-position: center;
}
section.section-info .single-service {
    background: #795548;
    padding: 30px;
}
section.section-info i {
    color: #f1c27a;
    font-size: 45px;
}
section.section-info h4 {
    color: white;
}

.about-widget p {
    margin-bottom: 15px;
    
}
.about-widget p a{
    color: white;
}
.about-widget p a:hover{
    color: #dca351;
}
.hero-section {
    height: 100%;
}
.footer-widget {
    margin-bottom: 0px !important;
}
.about-widget .footer-logo {
    margin-bottom: 20px;
}
/*PAGINA DE PRODUCTO*/

.page-info-section.page-info {
    padding: 15px 0;
}

.page-info-section {
    background: #dca351;
}
.product-page {
    background: #fdfdfd;
}

.site-btn.btn-buy {
    background: #dca351;
    border: 2px solid #dca351;
    border-radius: 3px;
    color: #ffffff;
    padding: 12px 20px;
    text-decoration: none;
    margin-bottom: 4%;
}
/*PAGINA DE CATEGORIA*/
.page-info-section.page-info-big {
    padding: 75px 0 30px 0;
}

.product-item figure:after {
    border: 0 !important;
}
.site-btn.btn-line {
    margin: 5px;
}

.btn-cat-list{
    background-color: white !important;
    border: 0 !important;
    color: #282828 !important;
}
.hr-cat-list{margin-top: 0; margin-bottom: 0;}



@media only screen and (max-width: 1527px){
.main-menu {
    margin-right: 0px !important;
    padding-top: 30px;
}

}

@media only screen and (max-width: 767px){
.main-menu li a {
    color: #414141;
    display: block;
    margin-left: 0;
    padding: 15px 20px;
    border-bottom: 1px solid #2e2626;
}
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav li {
    border-bottom: 1px solid #eee;
  }
  
  .nav li a {
    font-size: 14px;
  }
  
  #accordionMenu {
    max-width: 300px;
  }
  
  .panel-body {
    padding: 0;
  }
  
  .panel-group .panel+.panel {
    margin-top: 0;
    border-top: 0;
  }
  
  .panel-group .panel {
    border-radius: 0;
  }
  
  .panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
  }
  
  .panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
  }
  
  .panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\e113";
  }
  
  .panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\e114";
  }

  .white{color:white}
  .black{color:black}

  /*CARRITO*/

  .order-table tbody td {
    padding-bottom: 10px !important;
}

.payment-method {
    background: #f5f5f5;
    padding: 35px 55px 15px;
    margin-top: 0 !important;
}
.cart-table tbody td {
    margin-top: 7px;
}

.cart-table tbody tr {
    border-bottom: 1px solid #d6d6d6;
}

.site-breadcrumb span {
    color: rgb(0 0 0);
}
.product-item .product-info h6:hover {    
    text-decoration: none !important;
    color: #dca351;
}